.main{
    height:100vh;
    width:100%;
    background: linear-gradient(-45deg, #ff0000, #4946ff, #fff200);
	background-size: 400% 400%;
    -webkit-animation: gradient 4s ease infinite;
    -moz-animation: gradient 4s ease infinite;
    -o-animation: gradient 4s ease infinite;
    animation: gradient 4s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.frame1-logo{
    width: auto;
    height: 20rem;
}

.frame2-logo{
    width: auto;
    height: 20rem;
}