{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock css %}

{% block title %}{% endblock title %}

{% block content %}
<div class="main">
    <div class="container w-100 d-flex flex-column align-items-center justify-content-center" style="align-items: center !important; height: 100vh">
    <img class="frame2-logo" src="{% static 'img/frame2.png' %}" alt="">
    <div class="mt-4">
        <a class="btn btn-primary" href="https://www.canva.com/design/DAFDH-mc5LA/9qN7LrkF93BAVfUyS8llJA/view?utm_content=DAFDH-mc5LA&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink" target="_blank">Requisitos Para Votar</a>
        <a class="btn btn-info" href="{% url 'candidatos:list' %}">Administrar Candidatos</a>
    </div>
</div>
</div>

{% endblock content %}

{% block js %}

{% endblock js %}