{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock css %}

{% block title %}Olimpiadas Programación 2022{% endblock title %}

{% block content %}

<div class="content container w-100 h-100 d-flex flex-column align-items-center justify-content-center">
    <h1 clas="">Ayudante Electoral</h2>
    <img class="frame1-logo" src="{% static 'img/frame1.jpeg' %}" alt="">
    <a class="btn btn-primary mt-2" href="{% url 'candidatos:opciones' %}">Ingresar</a>
</div>

{% endblock content %}

{% block js %}

{% endblock js %}